{% extends 'layouts/home_layout.html' %}
{% load static %}

{% block head %}
    <title>Privacy Policy | Brytebook</title>
    <link rel="stylesheet" href="{% static 'styles/tailwind-typography.css' %}" />
{% endblock head %}

{% block body %}
<div class="max-w-2xl mx-auto px-6 md:px-0 my-10 prose prose-blue md:prose-xl">
    <h1 id="privacy-policy">Privacy Policy</h1>
    <p>Brytebook (“Brytebook,” “we,” “us,” and “our”) makes it simple to start a blog that makes money from community memberships. Our Privacy Policy (“Privacy Policy”) is designed to help you understand how we collect, use and share your personal information and to assist you in exercising the privacy rights available to you.</p>
    <h2 id="-purpose-"><strong>Purpose</strong></h2>
    <p>We are committed to maintaining the accuracy, confidentiality, and security of our user's personal information. This Privacy Policy describes the personal information that we collect from or about our users, how we use that information, and to whom it is disclosed.</p>
    <p>This Privacy Policy only applies to the processing of your Personal Information by Brytebook as a data controller, meaning where we process your Personal Information for our purposes. This Privacy Policy does not apply to any processing of your Personal Information by Brytebook as a data processor on behalf of Publishers or Writers. Publishers or Writers will have their own privacy practices governing their use of Personal Information as outlined in their own terms of use and/or privacy policies.</p>
    <p>This Policy is designed to comply with the privacy requirements established by the General Data Protection Regulation (“GDPR”), as well as with all applicable laws around the world that are intended to protect an individual's privacy. It supports our need to collect information from our users as necessary for our performance of business services and functions, while also recognizing a user's right to have their information handled in a way that protects the privacy of their personal information. You may learn more about the GDPR here: <a href="https://www.eugdpr.org/">https://www.eugdpr.org/</a></p>
    <p>For purposes of this Policy, a user may also be referred to as “you,” “your,” or “data subject.”</p>
    <h2 id="-application-"><strong>Application</strong></h2>
    <p>Legal requirements may vary from country to country. This Policy applies to all users of our website, even those who access our site from a location outside of the European Union.</p>
    <h2 id="-information-collected-"><strong>Information collected</strong></h2>
    <p>We collect and process Personal Information about you when you interact with us and our services, as well as when you subscribe to any of our paid or unpaid services. This may include:</p>
    <ul>
    <li>Personal identification data, including, but not limited to, your name, gender, date of birth, and nationality, if applicable.</li>
    <li>Contact information, including, but not limited to, your email address, billing address, and telephone number(s);</li>
    <li>Account login information including, but not limited to, your login credentials.</li>
    <li>Information relating to the business(es) you wish to buy or sell on our site including, but not limited to, business name, address, and telephone number; purchasing preferences and history; and your anticipated buy or sale price.</li>
    <li>Network traffic data including, but not limited to, your IP address, identification numbers, location data, cookies, online identifiers, language settings, and device identification.</li>
    <li>Financial information provided by you including, but not limited to, your PayPal account and credit card information.</li>
    <li>Information you voluntarily share with us including, but not limited to, forum posts, feature suggestions, article comments, upvotes, and bug reports.</li>
    <li>Social media links or content you voluntarily share with us including, but not limited to, images, contacts, and written content.</li>
    <li>We may also collect information from third-party channels including, without limitation, factual research our employees perform on you or your business, or from your interactions with our employees.</li>
    </ul>
    <p>The information collected is considered “personal data” as defined by Article 4(1) of the GDPR.</p>
    <h2 id="-shared-information-"><strong>Shared information</strong></h2>
    <p>We will never sell your personal information, although it may be shared from time to time, and only when necessary to perform a legitimate business function.</p>
    <h2 id="-how-information-is-used-"><strong>How information is used</strong></h2>
    <p>We use information primarily to provide a good user experience, which includes enabling you to use the Services, communicating with you and, as a result, improving the performance of our Services. When we write “use the information” we mean, for example, knowing who you are when you login, which simplifies the login process and points you to content and Services that are consistent with your preferences. We need to communicate with you about your account (if you have one), User Content and our Services. And, improving the Services means that we need to learn how fast pages load, where people view content, where they go and so forth. (All of that comes from Technical Information. We are not personally tracking you.)</p>
    <p><strong>In General:</strong> We primarily use the Personal Information we receive:</p>
    <ol>
    <li>to provide our Services;</li>
    <li>to allow us to properly maintain our Site and our services and to make improvements or upgrades as we deem appropriate;</li>
    <li>to send you newsletters about topics that we believe are of interest to you;</li>
    <li>to inform you of products or services from us or others that may be of interest to you;</li>
    <li>to respond to your inquiries;</li>
    <li>to enable selected third parties to perform certain services (such as maintain our databases or provide us with emailing capabilities when we send our occasional newsletter or for you to establish an account for us to pay);</li>
    <li>to prevent fraud, including the unauthorized use of this Site or our services or violations of applicable policies and the Terms of Service; and</li>
    <li>to ensure compliance with the law. We may also use Personal Information to resolve disputes, troubleshoot problems, and enforce our agreements with you, including the Terms of Service or this Privacy Policy.</li>
    </ol>
    <p><strong>How We Use Technical Information:</strong> </p>
    <p>The Technical Information we receive (e.g., from Cookies) is used to enable your use of the Services such as storing your login information to accelerate that process or to respond to your preferences. We also use Technical Information to customize our infrequent newsletters, as well as advertising and Site content based on browser type and user profile information. The Technical Information may also provide measurements of overall and specific activity on our Sites in the use of other Services, allowing us to modify the look-and-feel, content and performance of our Services.</p>
    <h2 id="-protecting-your-information-"><strong>Protecting Your Information</strong></h2>
    <p>We believe that we use reasonable physical, electronic, and managerial procedures to safeguard and secure the Personal Information we receive online but we do not warrant or represent that its level of security meets or exceeds any specific standards. You should keep in mind that no Internet transmission is 100% secure or error-free, nor is stored data free from vulnerabilities. We cannot guarantee the security of our database or our Sites or other Services, nor can we guarantee that the information you supply will not be intercepted while being transmitted to us over the Internet. We are not responsible for the actions of third parties.</p>
    <p>Your account information will be protected by a password for your privacy and security. You need to prevent unauthorized access to your account and Personal Information by selecting and protecting your password appropriately and limiting access to your computer and browser by signing off after you have finished accessing your account.</p>
    <h2 id="-security-"><strong>Security</strong></h2>
    <p>We take precautions to protect your personal information. Our website is secured through a Secure Sockets Layer (“SSL”) Certificate, which ensures the security of data sent via the Internet using encryption.</p>
    <h2 id="-your-rights-"><strong>Your rights</strong></h2>
    <p>The GDPR was created to protect your privacy rights. You have the right to access, rectify, object to, or erase the data maintained by us pursuant to Articles 12 – 23 of the GDPR. You may request a change to your personal data by contacting us by telephone, email, or mail correspondence.</p>
    <p>If you believe our processing of your personal data infringes data protection laws, you have a legal right to initiate a complaint with a supervisory authority responsible for data protection in accordance with Article 77 of the GDPR.</p>
    <h2 id="-cookies-"><strong>Cookies</strong></h2>
    <p>Our service providers use cookies and those cookies may be stored on your computer when you visit our website. Most browsers allow you to refuse and delete cookies. You can find more information regarding cookies here: <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org</a></p>
    <h2 id="-data-protection-officer-"><strong>Data protection officer</strong></h2>
    <p>If you have questions or concerns regarding this Policy, your personal information, or how we may use it, please contact us by writing to our “Data Protection Officer” at the previously stated address or email. Our data protection officer is responsible for overseeing this Policy and privacy notice.</p>
    <h2 id="-amendments-"><strong>Amendments</strong></h2>
    <p>We may update this Policy from time to time by publishing a new version on its website. We will alert you about any changes by updating the “Last updated” date of this Policy.</p>
    <h2 id="-how-can-you-ask-questions-or-raise-concerns-"><strong>How Can You Ask Questions or Raise Concerns?</strong></h2>
    <p>If you have other questions or concerns about our privacy policies or data use, or wish to change your options, email us at 
        <a href="mailto:brytebookhq@gmail.com">brytebookhq@gmail.com</a>
    </p>
</div>
{% endblock body %}