{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock title %} | Brytebook</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    {% include 'components/get_tailwind.html' %}
    <link rel="stylesheet" href="{% static 'styles/iziToast.css' %}">
    {% block head %}{% endblock head %}
</head>
<body>
{% include 'components/logged-navbar.html' %}

{% block body %}
{% endblock body %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/iziToast.js' %}"></script>
{% block script %}{% endblock script %}
</body>
</html>