{% extends 'layouts/layout.html' %}
{% load static %}

{% block head %}
    <title>Password Reset Done | Brytebook</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="canonical" href="https://brytebook.com/reset_password_sent/">
    <style>
        #id_email{
            border: 1px solid gray;
            padding: 7px 11px;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="max-w-lg mx-auto mt-8">
        <div class="text-center py-4 text-4xl font-bold">
            <h2 class="text-gray-800">Password reset sent</h2>
        </div>

        <div class="text-center py-6">
            <p class="mb-4">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>

        <div class="text-center py-6">
            <a href="/login" class="text-blue-600">Go back to login</a>
        </div>
    </div>
{% endblock body %}




