{% extends 'layouts/layout.html' %}
{% load static %}

{% block head %}
    <title>Password Reset Complete | Brytebook</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="canonical" href="https://brytebook.com/reset_password_complete/">
{% endblock head %}

{% block body %}
    <div class="max-w-lg mx-auto mt-8">
        <div class="text-center py-4 text-4xl font-bold">
            <h2 class="text-gray-800">Password reset complete</h2>
        </div>

        <div class="text-center py-6">
            <p class="mb-4">Your password has been reset. You may go ahead and log in now.</p>
        </div>

        <div class="text-center py-6">
            <a href="/login" class="text-blue-600">Go back to login</a>
        </div>
    </div>
{% endblock body %}
