{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/tailwind.css' %}">
    <title>Oops!</title>
</head>
<body>
    <div class="flex flex-col place-items-center text-center h-screen place-content-center px-4">
    <h2 class="text-9xl font-semibold pb-6">404</h2>
    <h4 class="text-2xl text-gray-800 pb-3">Page Not Found</h4>
    <p class="py-4">The page you are looking for doesn't exist or an error occurred.</p>
    <p>
        <a href="/">
            <button class="bg-blue-500 px-6 py-2 rounded-md text-white hover:bg-blue-600">
                Go Home
            </button>
        </a>
    </p>
    </div>
</body>
</html>