<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Email from Django</title>
</head>
<body>
    <img src="https://images.unsplash.com/photo-1630904547950-3494d4f28c0f?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjczODIzMw&ixlib=rb-1.2.1&q=80&w=600" alt="image" style="width: 100%;">
    <h2>{{ name }}</h2>
    <p>{{ message }}</p>
</body>
</html>