#content {
  line-height: 1.75;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
font-family: "DM Serif Display", serif;
color: #333;
/* color: #111827; */
}

#content p {
font-family: "Inter", sans-serif;
margin-top: 1.25em;
margin-bottom: 1.25em;
}

#content a {
  color: rgba(29,78,216);
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content h2 {
  font-weight: 700;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

#content h3 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

#content h3,
#content h4 {
  font-weight: 600;
}

#content h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: 1.2em;
}

#content ul {
  list-style: disc;
  padding-left: 2rem;
}

#content ol {
    list-style: decimal;
    padding-left: 2rem;
}

#content blockquote {
  font-weight: 500;
  font-style: italic;
  color: #111827;
  border-left-width: 0.25rem;
  border-left-color: #e5e7eb;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

#content hr {
  border-color: #33333361;
  border-top-width: 2px;
  margin-top: 3em;
  margin-bottom: 3em;
}

#content strong {
  color: #333;
}

#content code {
  color: #7c3aed;
  font-weight: 400;
  font-size: 0.875em;
}

#content figure,
#content img,
#content video {
  margin-top: 2em;
  margin-bottom: 2em;
}

#content ul, #content ol {
    font-family: 'Inter', sans-serif;
}

#content ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
#content li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#content > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
#content > ul > li > :first-child {
  margin-top: 1.25em;
}
#content > ul > li > :last-child {
  margin-bottom: 1.25em;
}
#content > ol > li > :first-child {
  margin-top: 1.25em;
}
#content > ol > li > :last-child {
  margin-bottom: 1.25em;
}
#content ol ol,
#content ol ul,
#content ul ol,
#content ul ul {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}