.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.ck-editor__editable_inline {
    border: none;
}

.ck-focused { 
    border: none !important;
    box-shadow: none !important;
}

div[contenteditable] {
    border: none;
}

.grow-wrap {
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}