{% load static %}

<div class="border-b border-gray-200">
    <div class="max-w-7xl mx-auto">
        <header class="py-2 px-4 md:px-14">
            <nav>
                <div class="flex place-content-between place-items-center">
                    <div class="brytebook_wordmark">
                        <a href="/">
                            <img alt="Brytebook" class="w-24" src="{% static 'images/wordmark.png' %}">
                        </a>
                    </div>
                    <div class="flex place-items-center space-x-4">
                        {% if user.is_authenticated %}
                            <a href="/home">
                                <button class="px-8 py-2 md:px-10 md:py-2.5 my-2 text-white font-semibold bg-gray-800 rounded-lg duration-700 ease-in-out focus:shadow-outline hover:bg-gray-900">
                                    Home
                                </button>
                            </a>
                        {% else %}
                            <a href="/login" class="text-gray-700 font-semibold hover:text-black">
                                Sign in
                            </a>
                            <a href="/signup">
                                <button class="px-8 py-2 md:px-10 md:py-2.5 my-2 text-white font-semibold bg-gray-800 rounded-lg duration-700 ease-in-out focus:shadow-outline hover:bg-gray-900">Join</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>
            