{% extends 'layouts/layout.html' %}
{% load static %}

{% block head %}
    <title>Setup Profile | Brytebook</title>
    <meta name="title" content="Setup Profile | Brytebook">
    <meta name="description" content="Setup your Brytebook profile">
    <link rel="canonical" href="https://brytebook.com/signup/setup-profile">
    <link rel="stylesheet" href="{% static 'styles/filepond/filepond.css' %}">
    <link rel="stylesheet" href="{% static 'styles/filepond/filepond-plugin-image-preview.css' %}">
    <link rel="stylesheet" href="{% static 'styles/iziToast.css' %}">
{% endblock head %}

{% block body %}
    <section class="flex flex-col items-center h-screen max-w-lg mx-auto">
        <div class="text-center pt-6 text-2xl font-bold">
            <h2 class="text-gray-700">Setup your profile</h2>
        </div>

        <div class="w-full px-8 py-2 bg-white border-gray-100 rounded-lg lg:rounded-l-none lg:px-20 lg:py-4">
            <form action="/signup/setup-profile" method="POST" id="setup-profile-form">
                {% csrf_token %}
                <div class="flex items-center justify-center mt-4 text-center">
                    <div class="w-36">
                        <input 
                            type="file" 
                            class="filepond" 
                            name="profilePic" 
                            id="profilePic" 
                            data-allow-reorder="false"
                            data-max-file-size="3MB"
                            data-max-files="1"
                        >
                        <p class="text-xs text-gray-600">Image size should be less than 3MB</p>
                    </div>
                </div>

                <div class="mt-4 mb-4">
                    <label for="Name" class="block text-base font-medium leading-relaxed text-gray-700">Name</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Your Name"
                        class="w-full px-4 py-2 mt-2 h-10 text-base transition duration-500 ease-in-out transform bg-white border border-gray-300 rounded-sm focus:outline-none focus:shadow-outline focus:ring-0 ring-offset-current ext-black focus:border-black"
                    />
                    <small class="py-2 text-red-500" id="nameError"></small>
                </div>

                <div class="mb-4">
                    <label for="bio" class="block text-base font-medium leading-relaxed text-gray-700">Bio</label>
                    <textarea
                        name="bio"
                        id="bio"
                        cols="30"
                        rows="4"
                        maxlength="150"
                        placeholder="Your Bio"
                        class="bg-gray-50 w-full px-3 py-2 rounded-sm border outline-none transition duration-500 ease-in-out transform bg-white border border-gray-300 rounded-sm focus:outline-none focus:shadow-outline focus:ring-0 ring-offset-current ext-black focus:border-black resize-none"
                    ></textarea>
                    <small class="py-2 text-red-500" id="bioError"></small>
                    <div id="counter" class="float-right py-2 text-gray-500">0/150</div>
                </div>

                <div class="mb-10">
                    <button
                        id="setupProfileBtn"
                        type="submit"
                        class="block w-full h-12 px-4 py-2 flex place-content-center place-items-center font-semibold mt-3 text-white transition duration-200 ease-in-out transform rounded-lg bg-black hover:bg-blue-600 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 hover:to-black"
                    >
                        <svg id="setupProfileSpinner" class="animate-spin h-6 w-6 mr-4 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill: #FDFCE5;"><path d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"></path></svg> 
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/validation.js' %}"></script>
    <script>
        $("#setup-profile-form").submit(function (e) {
            function setupProfileCall(theName, theBio) {
                let formData = {
                    name: theName,
                    bio: theBio,
                };

                $.ajax({
                    type: "POST",
                    url: "/signup/setup-profile",
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data) {
                    if (!data.success) {
                        $('#setupProfileSpinner').hide()
                        $("#setupProfileBtn").prop('disabled', false);

                        if (data.name_error) {
                            setAlert("#nameError", data.name_error);
                        } else {
                            setAlert("#nameError", "");
                        }

                        if (data.bio_error) {
                            setAlert("#bioError", data.bio_error);
                        } else {
                            setAlert("#bioError", "");
                        }
                    } else {
                        window.location.href = "/signup/finished";
                    }
                }).fail(function(xhr, status, error) {
                    $('#setupProfileSpinner').hide()
                    $("#setupProfileBtn").prop('disabled', false);
                    iziToast.error({
                        position: 'topRight',
                        title: 'Error',
                        message: 'Something went wrong, please try again'
                    })
                });
            }

            const name = $("#name").val().trim();
            let validateName = nameValidation(name);
            if (validateName !== true) {
                setAlert("#nameError", validateName);
            } else {
                setAlert("#nameError", "");
            }

            const bio = $("#bio").val().trim();
            let validateBio = bioValidation(bio);
            if (validateBio !== true) {
                setAlert("#bioError", validateBio);
            } else {
                setAlert("#bioError", "");
            }

            if (validateName === true && validateBio === true) {
                $("#setupProfileBtn").prop('disabled', true);
                $('#setupProfileSpinner').show()
                setupProfileCall(name, bio);
            }
            e.preventDefault();
        });

        const messageEle = document.getElementById("bio");
        const counterEle = document.getElementById("counter");

        messageEle.addEventListener("input", function (e) {
            const target = e.target;
            const maxLength = target.getAttribute("maxlength");
            const currentLength = target.value.length;
            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        });
    </script>
    <script src="{% static 'js/filepond/filepond.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-image-crop.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-file-validate-type.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-image-preview.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-image-exif-orientation.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-file-validate-size.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-file-poster.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-image-resize.js' %}"></script>
    <script src="{% static 'js/filepond/filepond-plugin-image-transform.js' %}"></script>
    <script src="{% static 'js/iziToast.js' %}"></script>
    <script>
        FilePond.registerPlugin(
            FilePondPluginImageResize,
            FilePondPluginImageTransform,
            FilePondPluginImagePreview,
            FilePondPluginImageExifOrientation,
            FilePondPluginFileValidateSize,
            FilePondPluginFileValidateType,
            FilePondPluginImageCrop,
        );

        FilePond.create(
            document.querySelector('#profilePic'), {
                allowFileSizeValidation: true,
                acceptedFileTypes: ['image/png', 'image/jpeg', 'image/jpg', 'image/gif'],
                maxFileSize: '3MB',
                labelMaxTotalFileSizeExceeded: 'Maximum total file size is 3 MB',
                labelIdle: `Upload your profile picture <span class="filepond--label-action">Browse</span>`,
                imagePreviewHeight: 170,
                imageCropAspectRatio: '1:1',
                imageResizeTargetWidth: 200,
                imageResizeTargetHeight: 200,
                stylePanelLayout: 'compact circle',
                styleLoadIndicatorPosition: 'center bottom',
                styleProgressIndicatorPosition: 'right bottom',
                styleButtonRemoveItemPosition: 'left bottom',
                styleButtonProcessItemPosition: 'right bottom',
            }
        );

        FilePond.setOptions({
            server: {
                url: 'https://brytebook.com',
                process: {
                    url: '/account/profile/pic/upload',
                    method: 'POST',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    onload: (response) => {
                        var resp = JSON.parse(response)

                        if (resp.msg === 'success') {
                            iziToast.success({
                                position: 'topRight',
                                title: 'Success',
                                message: 'Image uploaded'
                            })
                        }
                    }
                },
                revert: {
                    url: '/account/profile/pic/delete',
                    method: 'POST',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    ondata: (formData) => {
                        return formData;
                    },
                }
            },
        });
    </script>
{% endblock javascript %}
